@media (max-width: 767px) {

    .center {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }

    .for__content{
        display: grid;
        gap: 32px;
        // grid-template-columns: repeat(12, 1fr);
    }

    .footer {
        flex-direction: column;

        &-info {
            gap: 16px;
        }
    }
}

